{% comment %}
    Renders buy buttons for the product.

    Accepts:
    - block: {Object} block object
    - index: {Number}
    Usage:
    {% render 'component-cart-button', block: block, index: number %}
{% endcomment %}

{{ 'component-cart-button.css' | asset_url | stylesheet_tag }}

<button
type="submit"
name="add"
class="product-form__submit button button--full-width cart-button component-cart-button"
{% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
>
{%-liquid
    assign id = "animatedCard-" | append: index
    assign style = "svg path { stroke:" | append: block.settings.cart_color | append: "}"
-%}
{% render 'component-lottie', id: id, toWrap: true, src: "https://assets6.lottiefiles.com/packages/lf20_4o73pagd.json", style: style, mode: "scroll", actions: "[{`visibility`:[0,0.75], `type`:`play`}]" %}

    <span>
        {%- if product.selected_or_first_available_variant.available -%}
            {{ 'products.product.add_to_cart' | t }}
        {%- else -%}
            {{ 'products.product.sold_out' | t }}
        {%- endif -%}
    </span>
    <div class="loading-overlay__spinner hidden">
        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
</button>

<script src="{{ 'component-lottie-wrapper.js' | asset_url }}" defer="defer"></script>
