<svg width="27" viewBox="0 0 31 32" fill="none" xmlns="http://www.w3.org/2000/svg" class="inline-block"><title>Suisse</title>
<path fill-rule="evenodd" clip-rule="evenodd" d="M4 4C1.79086 4 0 5.79086 0 8V23C0 25.2091 1.79086 27 4 27H26.6667C28.8758 27 30.6667 25.2091 30.6667 23V8C30.6667 5.79086 28.8758 4 26.6667 4H4Z" fill="#E31D1C"/>
<mask id="mask0_274_2" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="4" width="31" height="23">
<path fill-rule="evenodd" clip-rule="evenodd" d="M4 4C1.79086 4 0 5.79086 0 8V23C0 25.2091 1.79086 27 4 27H26.6667C28.8758 27 30.6667 25.2091 30.6667 23V8C30.6667 5.79086 28.8758 4 26.6667 4H4Z" fill="white"/>
</mask>
<g mask="url(#mask0_274_2)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.2497 9.75098H13.4163V13.5843H9.58301V17.4176H13.4163V21.251H17.2497V17.4176H21.083V13.5843H17.2497V9.75098Z" fill="#F1F9FF"/>
</g>
</svg>
