{% comment %}
  Renders a like button for a product.
  Accepts:
  - product: {Object}
  - margin_bottom: {String}

  Usage:
  {% render 'my-like-button', product: product %}
{% endcomment %}

<my-like-button data-product-id="{{ product.id }}" data-product-handle="{{ product.handle }}" data-product-short-title="{{ product.metafields.title.short | escape }}">
  <button class="inline-flex flex-col like relative p-2 items-center gap-1 z-20 {{ margin_bottom }}">
    {% render 'tw-icon-heart-design' %}
  </button>
</my-like-button>