<div class="h-40 flex items-center gap-[1px] translate-x-4" aria-busy="true" aria-live="polite">
    <div class="finger-tap bg-orange-400 w-9 h-[87px] rounded-t-xl flex flex-col justify-between pt-3 pb-2 px-[5px] rounded-b-[13px]">
    <div class="wrinkle-tap w-full h-5">
        <span class="w-7/12 h-[2px] rounded-sm bg-secondary transition-colors duration-500 mb-1 block mx-auto"> </span>
        <span class="w-7/12 h-[2px] rounded-sm bg-secondary transition-colors duration-500 block mx-auto"> </span>
    </div>
    <span class="nail-tap bg-secondary transition-colors duration-500 w-full h-[21px] rounded-b-lg rounded-t-xl block"> </span>
    </div>
    <div class="finger-tap bg-orange-400 w-9 h-[100px] rounded-t-xl flex flex-col justify-between pt-3 pb-2 px-[5px] rounded-b-[13px]">
    <div class="wrinkle-tap w-full h-5">
        <span class="w-7/12 h-[2px] rounded-sm bg-secondary transition-colors duration-500 mb-1 block mx-auto"> </span>
        <span class="w-7/12 h-[2px] rounded-sm bg-secondary transition-colors duration-500 block mx-auto"> </span>
    </div>
    <span class="nail-tap bg-secondary transition-colors duration-500 w-full h-[21px] rounded-b-lg rounded-t-xl block"> </span>
    </div>
    <div class="finger-tap bg-orange-400 w-9 h-[110px] rounded-t-xl flex flex-col justify-between pt-3 pb-2 px-[5px] rounded-b-[13px]">
    <div class="wrinkle-tap w-full h-5">
        <span class="w-7/12 h-[2px] rounded-sm bg-secondary transition-colors duration-500 mb-1 block mx-auto"> </span>
        <span class="w-7/12 h-[2px] rounded-sm bg-secondary transition-colors duration-500 block mx-auto"> </span>
    </div>
    <span class="nail-tap bg-secondary transition-colors duration-500 w-full h-[21px] rounded-b-lg rounded-t-xl block"> </span>
    </div>
    <div class="finger-tap bg-orange-400 w-9 h-[95px] rounded-t-xl flex flex-col justify-between pt-3 pb-2 px-[5px] rounded-b-[13px] relative before:h-full before:w-[1px] before:absolute before:bg-secondary before:transition-colors before:duration-500 before:top-0 before:right-0 before:translate-x-full">
    <div class="wrinkle-tap w-full h-5">
        <span class="w-7/12 h-[2px] rounded-sm bg-secondary transition-colors duration-500 mb-1 block mx-auto"> </span>
        <span class="w-7/12 h-[2px] rounded-sm bg-secondary transition-colors duration-500 block mx-auto"> </span>
    </div>
    <span class="nail-tap bg-secondary transition-colors duration-500 w-full h-[21px] rounded-b-lg rounded-t-xl block"> </span>
    </div>
    <svg class="thumb-tap text-orange-400 origin-top-left -z-10 -translate-x-[30px]" width="70" viewBox="0 0 56 35" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M1.5 24.2271C4.00001 30.2271 7.5 30.5 13.0001 32.7271C17.1782 34.4188 23 34.8142 24.3361 34.9C27.9732 35.1335 33.6621 34.554 33.6621 34.554C41.5361 34.261 43.5361 33.832 46.5031 31.797C48.4351 30.472 51.0071 27.941 52.2191 26.173C53.4301 24.406 54.6821 21.352 55.0001 19.388C55.3191 17.423 55.2951 14.679 54.9461 13.29C54.5981 11.901 53.3111 10.229 52.0881 9.574C50.8651 8.92 47.5141 8.479 44.6411 8.595C41.7691 8.711 37.5941 8.315 35.3641 7.715C33.1341 7.114 29.7411 5.245 27.8231 3.561L24.3361 0.5C24.3361 0.5 -3.44633 12.3559 1.5 24.2271Z"
        fill="currentColor"
    />
    </svg>
    <span class="sr-only">{{ 'tw.main_product.accessibility.loading-handler' | t  }}</span>
</div>