<ul class="flex items-center transition-colors duration-500 cursor-pointer">
    <li>
        <button id="open-search-loup" class="p-4 transition-colors duration-500 flex justify-center items-center">
            <span class="translate-x-[3px] inline-block">{% render 'tw-icon-loup' %}</span>
        </button>
    </li>
    <li class="group relative">
        {% liquid
            if request.locale.primary
                assign likes_page = "/pages/" | append: settings.likes_page | base64_encode
            else
                assign likes_page = "/" | append: request.locale.iso_code | append: "/pages/" | append: settings.likes_page | base64_encode
            endif
        %}
        <span tabindex="0" class="group obfuscate p-4 transition-colors duration-500 relative" data-url64="{{ likes_page }}">
            {% render 'tw-icon-heart-outline' %}
        </span>
        <likes-count>
            <span class="absolute flex justify-center items-center font-bold bg-secondary transition-colors duration-500 rounded-full h-4 w-4 top-0 right-3">0</span>
        </likes-count>
    </li>
</ul>

<script defer>
    class LikesCount extends HTMLElement {
        connectedCallback() {
            this.updateCount();
        }

        updateCount() {
            const productLikedIds = localStorage.getItem('productLikedIds');
            const productLikedIdsArr = JSON.parse(productLikedIds) || [];
            const count = productLikedIdsArr.length;
            this.likeCount = this.likeCount || this.querySelector('span');
            if(!this.likeCount) return;
            if(count > 0) {
                this.likeCount.textContent = count;
                this.likeCount.classList.remove('hidden');
            } else {
                this.likeCount.classList.add('hidden');
            }
        }
    }
    customElements.define('likes-count', LikesCount);
</script>