<div class="model-3d img-wrapper w-full h-full skeleton flex-none snap-center">
    <model-viewer 
    auto-rotate="true" 
    auto-rotate-delay="0" 
    rotation-per-second="300%" 
    max-camera-orbit="auto 90deg auto" 
    min-camera-orbit="auto 90deg auto"
    max-field-of-view="23deg" 
    min-field-of-view="23deg"
    environment-image="https://cdn.shopify.com/s/files/1/0623/2388/4287/files/Component_5.jpg?v=1664877964" 
    class="w-full h-full bg-secondary transition-colors duration-500" 
    tabindex="-1" src="{{ url }}" 
    camera-controls="true" 
    alt="{{ alt }}" 
    poster="{{ poster | image_url: width: 400 }}">
    </model-viewer>
</div>

