<div class="py-32 text-center">
  <h1 class="text-center my-16">
    {{ 'tw.404.title' | t }}
  </h1>
  <a href="{{ routes.all_products_collection_url }}" class="bg-main/5 hover:bg-main/10 border-main border-2 px-8 py-4 rounded-lg inline-block">
    {{ 'tw.404.see_all_products' | t }}
  </a>
</div>
