{%- liquid
  assign sort_by = search.sort_by | default: search.default_sort_by
  assign terms = search.terms | escape
  assign search_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
-%}

<div class="relative h-24 mt-6 md:mt-14">
  {% render 'tw-predictive-search', in_header: false %}
</div>

{%- if search.performed -%}
  {%- if search.results_count > 0 -%}
    <p class="text-center text-main/70 mb-8" role="status">
      {{ 'templates.search.results_with_count_and_term' | t: terms: search.terms, count: search.results_count }}
    </p>
  {%- endif -%}
  {%- if search.results_count == 0 and search.filters == empty -%}
    <p class="text-center text-main/70 mb-8" role="status">
      {{ 'templates.search.no_results' | t: terms: search.terms }}
    </p>
  {%- endif -%}

  {% paginate search.results by 24 %}
    <ul data-id="{{ section.id }}" class="product-grid">
      {%- for product in search.results -%}
        {% liquid
          assign lazy_load = false
          if forloop.index > 2
            assign lazy_load = true
          endif
        %}
        <anime-product-card>
          <li id="{{ product.id }}" class="relative group h-full">
            {% render 'card-product'
              , product: product
              , show_secondary_image: section.settings.show_secondary_image
              , lazy_load: lazy_load
              , section_id: section.id
            %}
          </li>
        </anime-product-card>
      {%- endfor -%}
    </ul>
    {%- if paginate.pages > 1 -%}
      {% render 'pagination', paginate: paginate %}
    {%- endif -%}
  {% endpaginate %}
{%- endif -%}

{% schema %}
{
  "name": "t:sections.main-search.name",
  "tag": "section",
  "class": "page-width px-4",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": true,
      "label": "t:sections.main-search.settings.show_secondary_image.label"
    }
  ]
}
{% endschema %}
