{% comment %}
    Renders a li with a product-thumbnail

    Accepts:
    - media: {Object} Product Media object
    - media_position: {Number} Iteration of the media loop
    - media_width: {Number} Width of the media
    - forloop: {Object} Forloop object
    - media_three_d: {Object} 3D Media object (optional)
    - poster: {String} Poster image for 3D model (optional)


    Usage:
    {% render 'li-with-product-thumbnail',
      media: media
      media_position: media_position
      media_width: media_width
    %}
{% endcomment %}

<li id="Slide-{{ section.id }}-{{ media.id }}" class="product__media-item grid__item slider__slide{% if product.selected_or_first_available_variant.featured_media == null and forloop.index == 1 %} is-active{% endif %}{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
  {%- liquid
    assign media_position = media_position | default: 0 | plus: 1
    assign lazy_load = false
    if media_position > 1
      assign lazy_load = true
    endif
    render 'product-thumbnail', media: media, position: media_position, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true, media_width: media_width, lazy_load: lazy_load, enable_zoom: section.settings.enable_zoom, poster: poster
  -%}
</li>