.countdown-container {
  --promo-border-radius: 8px;
}

.countdown-container {
  width: 400px;
  max-width: 100%;
  margin: 0 auto 20px;
}

.countdown-container.hide {
  display: none;
}

.countdown-container .countdown {
  --waves-y-percent-postion: 20;
  --height-wave-container: 85px;
  --max-wave-y-position: calc(var(--height-wave-container) - 10px);
  --waves-y-postion: calc(var(--waves-y-percent-postion) * var(--max-wave-y-position) / 100);
}

.countdown-container .countdown {
  position: relative;
  padding: 7px;
  width: 80%;
  margin: 0 auto;
  z-index: 2;
}

.countdown-container .countdown::after {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  background: var(--countdown-border-color);
  border-radius: 3000px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.countdown-container .wave-container {
  border-radius: 3000px;
  overflow: hidden;
  position: relative;
  background: white;
  height: var(--height-wave-container);
  z-index: 1;
  box-shadow: inset 0 0 30px 0 rgba(0, 0, 0, 0.05);
}

.countdown-container .wave-container .wave {
  position: absolute;
  top: 0;
  width: 100%;
}

.countdown-container .wave-container .wave.light {
  fill: var(--wave-light-background);
  z-index: 3;
  opacity: 1;
}

.countdown-container .wave-container .wave.dark {
  fill: var(--wave-dark-background);
  z-index: 2;
}

.countdown-container .wave-container .wave.light.first {
  transform: translate(0, var(--waves-y-postion));
  animation: lightWave1 3s infinite linear;
}

.countdown-container .wave-container .wave.light.second {
  transform: translate(-99%, var(--waves-y-postion));
  animation: lightWave2 3s infinite linear;
}

.countdown-container .wave-container .wave.dark.first {
  transform: translate(0, var(--waves-y-postion));
  animation: darkWave1 4s infinite linear;
}

.countdown-container .wave-container .wave.dark.second {
  transform: translate(100%, var(--waves-y-postion));
  animation: darkWave2 4s infinite linear;
}

@keyframes lightWave1 {
  0% {
    transform: translate(0, var(--waves-y-postion));
  }
  100% {
    transform: translate(99%, var(--waves-y-postion));
  }
}

@keyframes lightWave2 {
  0% {
    transform: translate(-99%, var(--waves-y-postion));
  }
  100% {
    transform: translate(0, var(--waves-y-postion));
  }
}

@keyframes darkWave1 {
  0% {
    transform: translate(0, var(--waves-y-postion));
  }
  100% {
    transform: translate(-99%, var(--waves-y-postion));
  }
}

@keyframes darkWave2 {
  0% {
    transform: translate(99%, var(--waves-y-postion));
  }
  100% {
    transform: translate(0, var(--waves-y-postion));
  }
}

.countdown-container .countdown .time {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 4;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 30px;
  width: 70%;
  text-align: center;
  color: var(--countdown-timer-color);
}

.countdown-container .promo-description-container {
  padding: 10px 20px 3px;
  position: relative;
  border-top-left-radius: var(--promo-border-radius);
  border-top-right-radius: var(--promo-border-radius);
  z-index: 1;
}

.countdown-container .promo-description-container p {
  color: var(--promo-color);
}

.countdown-container .promo-description-container .justification {
  padding: 7px;
  width: 80%;
  margin: 0 auto;
}

.countdown-container .promo-description-container .justification > p {
  margin: 0;
  text-align: center;
  font-size: 2rem;
}

.countdown-container .promo-description-container hr {
  margin: 10px 0;
  background-color: var(--promo-color);
  opacity: 0.3;
}

.countdown-container .promo-description-container .above-countdown {
  text-align: center;
  margin: 0;
  font-weight: bold;
}

.countdown-container .promo-description-container::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--promo-background);
  height: calc(100% + 50px);
  width: 100%;
  border-radius: var(--promo-border-radius);
  z-index: -1;
}
