#shopify-section-cart-drawer {
  display: block !important;
}

.drawer {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(var(--color-foreground), 0.5);
  transition: visibility var(--duration-default) ease;
  --padding: 21px;
}

.drawer.active {
  visibility: visible;
}

.drawer__inner {
  height: 100%;
  width: 100vw;
  border-right: 0;
  background-color: rgb(var(--color-background));
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform var(--duration-default) ease;
  background: var(--drawer-background);
  color: var(--drawer-color);
}

@media screen and (min-width: 768px) {
  .drawer__inner {
    width: 45rem;
    max-width: calc(100vw - 3rem);
  }
}

.drawer__inner-empty {
  height: 100%;
  padding: 0 1.5rem;
  background-color: rgb(var(--color-background));
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: var(--drawer-background);
}
.drawer__inner-empty .cart-drawer__collection .card__heading {
  text-align: center;
}

.drawer__inner-empty h2,
.cart-drawer__empty-content button,
.drawer__inner-empty p {
  color: var(--drawer-color);
}

.drawer__inner-empty .card__inner {
  max-height: 90%;
}

.drawer__close {
  stroke: var(--drawer-color);
}

.cart-drawer__empty-content button {
  background: var(--drawer-background);
}

.cart-drawer__empty-content button::after {
  box-shadow: none;
  border: 1px solid var(--drawer-color);
}

.cart-drawer__warnings {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

cart-drawer.is-empty .drawer__inner {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 0;
}

cart-drawer.is-empty .drawer__header {
  display: none;
}

cart-drawer:not(.is-empty) .cart-drawer__warnings,
cart-drawer:not(.is-empty) .cart-drawer__collection {
  display: none;
}

.cart-drawer__warnings--has-collection .cart__login-title {
  margin-top: 2.5rem;
}

.drawer.active .drawer__inner {
  transform: translateX(0);
}

.drawer__header {
  position: relative;
  background: var(--drawer-background);
  padding: var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--drawer-color);
}

.drawer__header h2 {
  color: var(--drawer-color);
}

.drawer__heading {
  margin: 0;
  font-size: 2.2rem;
}

.drawer__close {
  display: inline-block;
  padding: 0;
  min-width: 4.4rem;
  min-height: 4.4rem;
  position: absolute;
  top: 10px;
  right: 1.5rem;
  color: var(--drawer-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart-drawer__warnings .drawer__close {
  right: 5px;
}

.drawer__close svg {
  height: 2rem;
  width: 2rem;
}

.drawer__contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

cart-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.cart-drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cart-drawer__overlay:empty {
  display: block;
}

.cart-drawer__form {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.cart-drawer__collection {
  margin: 0 2.5rem 1.5rem;
  max-height: 70vh;
}

.cart-drawer__collection .card--card {
  background: var(--drawer-background);
}

.cart-drawer__collection .card__heading {
  color: var(--drawer-color);
}

.cart-drawer .drawer__cart-items-wrapper {
  flex-grow: 1;
}

.cart-drawer .subtotal {
  display: flex;
  justify-content: space-between;
  padding: 15px var(--padding);
  border-bottom: 1px solid var(--drawer-color);
  position: sticky;
  top: 0;
  z-index: 999;
  background: var(--drawer-background);
}

.cart-drawer .subtotal p,
.cart-drawer .subtotal h2 {
  font-size: 18px;
  margin: 0;
  line-height: inherit;
  color: var(--drawer-color);
}

.cart-drawer .subtotal span:last-child {
  width: 18px;
  height: 18px;
  display: inline-block;
}

.cart-drawer .subtotal span:last-child svg circle{
  stroke: var(--drawer-color);
}

.cart-drawer .action-buttons {
  display: flex;
  justify-content: space-around;
  padding: 15px var(--padding);
}

.cart-drawer .action-buttons .button {
  width: 45%;
  color: var(--drawer-color);
  background: var(--drawer-background);
  border: 1px solid var(--drawer-color);
  font-size: 14px;
  padding: 1rem 0;
}

.cart-drawer .action-buttons #CartDrawer-Checkout {
  background: var(--drawer-color);
  color: var(--drawer-background);
}

.cart-drawer .action-buttons button::after,
.cart-drawer .action-buttons a::after {
  box-shadow: none;
}

.cart-drawer .until-offer {
  border-top: 1px solid var(--drawer-color);
  margin: 15px var(--padding) 8px;
  position: relative;
}

.cart-drawer .until-offer .progress-bar {
  height: 7px;
  max-width: 100%;
  border-radius: 30px;
  background: var(--drawer-color);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  min-width: 20%;
}

.cart-drawer .until-offer .point {
  width: 30%;
  display: block;
  font-size: 11px;
  font-weight: bold;
  top: 0;
  position: absolute;
  padding-top: 15px;
  text-align: center;
}

.cart-drawer .until-offer .point.unreached::after {
  content: '';
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--drawer-color);
  border-radius: 50%;
  color: var(--drawer-background);
}

.cart-drawer .until-offer svg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background: var(--drawer-color);
  color: var(--drawer-background);
  border-radius: 50%;
}

.cart-drawer .until-offer .unreached svg {
  visibility: hidden;
}

.cart-drawer .until-offer .point.one {
  right: 40%;
}

.cart-drawer .until-offer .point.final {
  text-align: right;
  right: 0;
}

.cart-drawer .until-offer .point.final svg {
  right: 0;
  left: unset;
  transform: translate(0, -50%);
}

.cart-drawer .until-offer .point.final::after {
  left: unset;
  right: 0;
  transform: translate(0, -50%);
}

.cart-drawer .until-offer p {
  margin-top: 60px;
  margin-bottom: 0;
  font-size: 14px;
}

.cart-drawer .cart-items,
.cart-drawer table {
  display: block;
  width: 100%;
  border-top: 1px solid var(--drawer-color);
}

cart-drawer-items {
  overflow: auto;
  flex: 1;
}

@media screen and (max-height: 650px) {
  cart-drawer-items {
    overflow: visible;
  }

  .drawer__inner {
    overflow: scroll;
  }
}

.cart-drawer .cart-item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
  margin-bottom: 0;
  border-bottom: 2px dotted var(--drawer-color);
  padding: 15px;
  background: var(--drawer-item-background);
}

.cart-drawer .cart-item .loading-overlay svg circle {
  stroke: var(--drawer-color);
}

.cart-drawer .cart-item:last-child {
  border-bottom: 1px solid var(--drawer-color);
}

.cart-drawer .cart-item:last-child {
  margin-bottom: 1rem;
}

.cart-drawer .cart-item__media {
  grid-row: 1 / 3;
  align-items: center;
  padding-top: 0;
}

.cart-drawer .cart-item__image {
  max-width: 100%;
  min-width: 78px;
  border: 1px solid var(--drawer-color);
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
}

.cart-drawer .cart-items thead {
  margin-bottom: 0.5rem;
}

.cart-drawer .cart-items thead th:first-child,
.cart-drawer .cart-items thead th:last-child {
  width: 0;
  padding: 0;
}

.cart-drawer .cart-items thead th:nth-child(2) {
  width: 50%;
  padding-left: 0;
}

.cart-drawer .cart-items thead tr {
  display: table-row;
  margin-bottom: 0;
}

.cart-drawer .cart-items th {
  border-bottom: 0.1rem solid var(--drawer-color);
}

.cart-drawer .cart-item:last-child {
  margin-bottom: 1.5rem;
}

.cart-drawer .cart-item .loading-overlay {
  right: 5px;
  padding-top: 2.5rem;
}

.cart-drawer .cart-item > td + td {
  padding-left: 1.5rem;
}

.cart-drawer .cart-item__details {
  width: auto;
  grid-column: 2 / 4;
  padding-top: 10px;
}

.cart-drawer .cart-item__details p {
  font-size: 12px;
}

.cart-drawer .cart-item a,
.cart-drawer .cart-item span,
.cart-drawer .cart-item p {
  color: var(--drawer-color);
}

.cart-drawer .cart-item__totals {
  pointer-events: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  grid-column: 4;
  padding-top: 10px;
}

.cart-drawer .price {
  font-size: 14px;
}

.cart-drawer s.price {
  opacity: 0.5;
  margin-bottom: 10px;
}

.cart-drawer.cart-drawer .cart-item__price-wrapper > *:only-child {
  margin-top: 0;
}

.cart-drawer .unit-price {
  margin-top: 0.6rem;
}

.cart-drawer .cart-items .cart-item__quantity {
  padding-top: 0;
  grid-column: 2 / 5;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.cart-drawer .cart-items .cart-item__quantity quantity-input::after {
  border: 1px solid var(--drawer-color);
}

.cart-drawer .cart-items .quantity button,
.cart-drawer .cart-items .quantity,
.cart-drawer .price,
.cart-drawer h3 {
  color: var(--drawer-color);
}

.cart-drawer .cart-items .cart-item__quantity cart-remove-button button {
  color: var(--drawer-color);
  opacity: 0.6;
}

@media screen and (max-width: 749px) {
  .cart-drawer .cart-item cart-remove-button {
    margin-left: 0;
  }
}

.cart-drawer .totals {
  justify-content: space-between;
}

.cart-drawer .price {
  line-height: 1;
}

.cart-drawer .tax-note {
  margin: 1.2rem 0 1rem auto;
  text-align: left;
}

.cart-drawer .product-option dd {
  word-break: break-word;
}

.cart-drawer details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

cart-drawer-items::-webkit-scrollbar {
  width: 3px;
}

cart-drawer-items::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 100px;
}

cart-drawer-items::-webkit-scrollbar-track-piece {
  margin-top: 31px;
}

.cart-drawer .card__media img {
  position: relative !important;
}

.cart-drawer .additional-product-title {
  margin: 5px calc(var(--padding) + 10px);
}

.cart-drawer .additionnal-product-container {
  display: grid;
  gap: 20px;
  margin: 15px var(--padding);
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
}

.cart-drawer .additionnal-product-container .product-wrapper {
  border-radius: 15px;
  overflow: hidden;
  background: var(--drawer-item-background);
  border: 1px solid var(--drawer-color);
}

.cart-drawer .additionnal-product-container .product-wrapper h3 {
  font-size: 14px;
  margin: 0;
  text-decoration: none;
  color: var(--drawer-color);
}

.cart-drawer .additionnal-product-container .product-wrapper h3 a {
  text-decoration: none;
  color: var(--drawer-color);
}

.cart-drawer .additionnal-product-container .product-wrapper h3 a:hover {
  text-decoration: underline;
}

.cart-drawer .additionnal-product-container .product-wrapper p {
  font-size: 12px;
  margin: 0;
}

.cart-drawer .additionnal-product-container .product-image {
  height: 214px;
  position: relative;
  cursor: pointer;
}

.cart-drawer .product-wrapper:hover {
  box-shadow: 0 0 0 1px var(--drawer-color);
}

.cart-drawer .additionnal-product-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cart-drawer .product-wrapper .bottom {
  padding: 10px;
}

.cart-drawer .additionnal-product-container button {
  height: 35px;
  min-height: 35px;
  width: 100%;
  padding: 0;
  font-size: 12px;
  color: var(--drawer-background);
  background: var(--drawer-color);
  margin-top: 15px;
}

.cart-drawer .additionnal-product-container .loading-overlay {
  inset: 0;
  text-align: center;
  line-height: 35px;
  width: unset;
}

.cart-drawer .additionnal-product-container .loading-overlay__spinner {
  padding-top: 6px;
}

.cart-drawer .additionnal-product-container svg circle {
  stroke: var(--drawer-background);
}

cart-drawer.disable-events::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 9999;
}

.product-wrapper .plus {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--drawer-color);
}

.product-wrapper:hover .plus {
  background: rgba(255, 255, 255, 0.3);
  border: 3px solid var(--drawer-color);
}

.product-wrapper .plus svg {
  width: 19px;
  color: var(--drawer-background);
}

.product-wrapper:hover .plus svg {
  color: var(--drawer-color);
}
