h1 {
  text-align: center;
}

.main-collection-product-grid {
  background: var(--background);
}

.main-collection-product-grid .card-wrapper > .card {
  background: var(--card-background);
  border: var(--card-border);
}

.main-collection-product-grid .card-wrapper > .card button {
  background: var(--button-background);
  color: var(--card-background);
}

.card-wrapper .card__content .card__information + .quick-add__submit {
  grid-row: 4;
  z-index: 0;
}

.section-my-likes .loader {
  text-align: center;
}

.section-my-likes .flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.section-my-likes .flex > div {
  position: relative;
}

.section-my-likes .flex > div svg:last-child{
  float: right;
}

.section-my-likes .flex p {
  font-size: 2rem;
  position: relative;
  margin: 0;
}

.section-my-likes .flex > svg {
  width: 17%;
  height: auto;
  animation: flottement 10s ease-in-out infinite;
}

.section-my-likes .flex svg path.border {
  fill: rgb(var(--color-foreground));
}

@keyframes flottement {
  0%, 100% {
    transform: translate(0, 0) rotate(0deg);
  }
  20% {
    transform: translate(-3px, -8px) rotate(-2deg);
  }
  40% {
    transform: translate(3px, -6px) rotate(2deg);
  }
  60% {
    transform: translate(3px, 8px) rotate(-2deg);
  }
  80% {
    transform: translate(-3px, 6px) rotate(2deg);
  }
}

@media screen and (max-width: 500px) {
  .main-collection-product-grid .grid__item {
    width: calc(100% - var(--grid-mobile-horizontal-spacing) / 2);
    max-width: unset;
  }
}
