.announcement-bar {
  overflow: hidden;
  display: flex;
  align-items: center;
  --anim-width: -400vw;
  min-height: 2rem;
  padding: 1.2rem 0;
}

.announcement-bar .wrapper-anim {
  white-space: nowrap;
  padding: 0 2rem;
  animation: moveToLeft infinite 30s linear;
}

.announcement-bar p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.announcement-bar a {
  text-decoration: none;
}

.announcement-bar .message {
  margin: 0 0.5rem;
}
.announcement-bar > p span,
.announcement-bar > a span {
  display: flex;
  align-items: center;
}

.announcement-bar .wrapper-anim a {
  display: flex;
}

.announcement-bar .wrapper-anim p span,
.announcement-bar .wrapper-anim a span {
  display: inline-flex;
  align-items: center;
}

.announcement-bar .wrapper-anim p > span,
.announcement-bar .wrapper-anim a > span {
  margin-right: 40px;
}

@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  1% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(var(--anim-width));
  }
}

.announcement-bar span > svg:first-child {
  width: var(--svg-size);
  height: var(--svg-size);
}

@media screen and (min-width: 750px) {
  .announcement-bar {
    --anim-width: -200vw;
  }
}
